body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

.grand-text h1{
  font-size: 4em;
  margin: 0 0 0 0;
}

.border-block{
    width: 100%;
    height: 50px;
    background-color: white;
}


.container{
  display: flex;
  flex-direction: row;
}

.static-container {
    position: absolute;
}
.spinning-container {
    position: absolute;
    animation: spin 4s linear infinite;
}

.inverse-spinning-container {
    position: absolute;
    animation: inverse-spin 4s linear infinite;
}

.reverse-spinning-container {
    position: absolute;
    animation: reverse-spin 4s linear infinite;
}

@keyframes inverse-spin {
    0% {
      transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
      }
}

@keyframes reverse-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.magicircle-container{
    width: 50%;
    position: relative;
}
